.Grid {
    margin: 0 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    z-index: 99;
    position: relative;
    @media (max-width: 978px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 718px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 474px) {
        grid-template-columns: 1fr;
    }
}