@import '../../__var.scss';
.Search_cont {
    margin-top: 10vh;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Search_bar {
    margin-left: 1vw;
    height: 3vh;
    width: 20vw;
    color: $darkGrey;
    font-size: 1rem;
    border: solid 1px white;
    border-radius: 3px;
    background-color: white;
    padding: 10px;
    &:focus {
        outline: $peach auto 6px;
    }
}

.Add_button {
    margin-left: 1vw;
    cursor: pointer;
    transition: transform 200ms linear;
    height: 55px;
    &:hover {
        transform: rotate(90deg);
    }
}

ul {
    position: absolute;
    margin: 1vh 0 0 1vw;
    list-style-type: none;
    border: none;
    border-radius: 5px;
    padding: 0;
    z-index: 100;
    overflow: hidden;
}

.Suggestion {
    width: 20vw;
    background: white;
    font-weight: bold;
    padding: 10px;
    height: 3vh;
    font-size: 1rem;
    color: $darkGrey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:hover {
        cursor: pointer;
        color: $hoverPeach;
        background: $peach;
    }
}