@import '../../../__var.scss';
@mixin media() {
    @media (max-width: 1285px) {
        font-size: 1.5rem;
    }
}

@mixin icons($color, $pointer) {
    color: $color;
    @if $pointer=='true' {
        cursor: pointer;
    }
}

.Container {
    display: flex;
    flex-direction: column;
    border: 3px solid $mainDarkBlue;
    .Header {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr 1fr;
        height: 9vh;
        width: 100%;
        background: lighten($mainDarkBlue, 30%);
        .Item {
            font-size: 2rem;
            justify-self: center;
            align-self: center;
            @include media();
        }
    }
    .Data {
        display: flex;
        height: 7vh;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        color: $mainLightBlue;
        @include media();
    }
}

.Sun {
    @include icons($sunYellow, 'false');
}

.Trash {
    @include icons($trashRed, 'true');
}

.Refresh {
    @include icons(black, 'true');
}