$mainBlue: #2196F3;
$mainDarkBlue: #1976D2;
$mainLightBlue: #BBDEFB;
$orangeButton:#FFAF3C;
$sunYellow: #F3DE6B;
$trashRed: #FF4A3B;
$cloudGrey: #d3d3d3;

$coralRed: #E2574C;
$peach: #F9ADA0;
$hoverPeach:#FDE7E3;
$darkGrey: #5F5F5F;